body {
  font-family: Arial, sans-serif;
  background: #f0f2f5;
  margin: 0;
  padding: 0;
  display: flex;
  background: linear-gradient(90deg, #f1c637, #ff9800);
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cont {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 320px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input,
select {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  transition: border 0.3s;
}

input:focus,
select:focus {
  border-color: #007BFF;
}

button {
  width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 10px;
    background-color: #5C6BC0;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff9800;
}

select {
  background-color: white;
  cursor: pointer;
}
